body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5ddfb29;
}

:root {
}

.header {
  height: 100px;
  width: calc(100% - 80px);

  display: flex;
  gap: 20px;
  align-items: center;
}
.header img{
    height: 50px;
}
.logo {
  height: 80px;
  width: 80px;
  background-color: #efecff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  font-size: large;
  height: 80px;
  gap: 2px;
}
.title-text {
  height: max-content;
  color: #333;
  margin: 0;
}
/* .title-text::after {
  content: "";
  display: inline-block;
  margin-top: 5px;
  width: 20px;
  height: 20px;
  background-color: #7074fc;
  border-radius: 50%;
} */
.subtitle {
  font-size: 16px;
  color: #666;
  margin: 0;
}
main {
  height: calc(100vh - 140px);
  width: calc(100% - 80px);

  padding: 20px;
}
.team-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));

  gap: 20px;
  padding: 20px;
  justify-content: center;

  height: calc(100% - 40px);
  width: calc(100% - 40px);
  overflow-y: auto;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  will-change: transform;
  background-color: #fff;
}
.team-member:hover {
  transform: translateY(-8px);
}
.team-member img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}
.team-member-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  text-align: center;
  gap: 5px;
}

.team-member-content h2,
.team-member-content h3 {
  margin: 0;
}
.team-member-content h2 {
  font-size: 24px;
  color: #333;
}
.team-member-content h3 {
  font-size: 16px;
  color: #7074fc;
}
.team-member-content p {
  font-size: 16px;
  color: #666;
  margin: 0;
  line-height: 1.5;
  letter-spacing: 0.5px;
}
.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 15px;
  border: #b3b2b2 solid 1px;
}
.social-icons img {
  width: 30px;
  height: 30px;
  margin: 0;
}
.social-icons a:hover {
  transform: scale(1.05);
  transition: transform 0.1s ease-in-out;
}

/* Responsive Design */
@media (max-width: 1200px) {
  .team-container {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
}
@media (max-width: 900px) {
  .team-container {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}
@media (max-width: 600px) {
  .header {
    width: calc(100% - 40px);
  }

  main {
    width: calc(100% - 40px);
  }
  .team-container {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}
